# Resume Training from Checkpoint

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('CarPrice_Assignment.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
df.shape

(205, 26)

In [4]:
df.drop(['car_ID', 'symboling', 'CarName'], axis=1, inplace=True)

In [5]:
df = pd.get_dummies(df)

df.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,1,0,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,1,0,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,1,0,0

In [6]:
x = df.drop('price', axis=1)

y = df['price']

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

C:\Users\himan\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [8]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.2)

In [9]:
xtrain.shape

(164, 51)

In [10]:
ytrain.shape

(164,)

In [12]:
xtrain_part1 = xtrain[:85]

print("xtrain_part1: ", xtrain_part1.shape)

ytrain_part1 = ytrain[:85]

print("ytrain_part1: ", ytrain_part1.shape)

xtrain_part1:  (85, 51)
ytrain_part1:  (85,)

In [13]:
xtrain_part2 = xtrain[85:]

print("xtrain_part2: ", xtrain_part2.shape)

ytrain_part2 = ytrain[85:]

print("ytrain_part2: ", ytrain_part2.shape)

xtrain_part2:  (79, 51)
ytrain_part2:  (79,)

In [ ]:
- we will train the model on par1 data
- save the model parameters using joblib
- store the information for resumeing the training part
- save the model again

In [14]:
xtest.shape

(41, 51)

In [15]:
xtest_part1 = xtest[:20]

print("xtest_part1: ", xtest_part1.shape)

ytest_part1 = ytest[:20]

print("ytest_part1: ", ytest_part1.shape)

xtest_part1:  (20, 51)
ytest_part1:  (20,)

In [16]:
xtest_part2 = xtest[20:]

print("xtest_part2: ", xtest_part2.shape)

ytest_part2 = ytest[20:]

print("ytest_part2: ", ytest_part2.shape)

xtest_part2:  (21, 51)
ytest_part2:  (21,)

In [17]:
xtrain_part1.head()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
170,98.4,176.2,65.6,52.0,2679,146,3.62,3.50,9.3,116,...,0,0,0,0,0,0,0,1,0,0
70,115.6,202.6,71.7,56.3,3770,183,3.58,3.64,21.5,123,...,0,0,0,0,0,1,0,0,0,0
129,98.4,175.7,72.3,50.5,3366,203,3.94,3.11,10.0,288,...,0,0,0,0,0,0,0,1,0,0
150,95.7,158.7,63.6,54.5,1985,92,3.05,3.03,9.0,62,...,0,0,0,1,0,0,0,0,0,0
33,93.7,150.0,64.0,52.6,1940,92,2.91,3.41,9.2,76,...,0,0,1,0,0,0,0,0,0,0

In [18]:
import sklearn

from sklearn.ensemble import RandomForestRegressor

In [19]:
scikitlearn_version = sklearn.__version__

scikitlearn_version

'1.0.2'

In [20]:
print(xtrain_part1.shape)
print(ytrain_part1.shape)

(85, 51)
(85,)

In [21]:
regressor_model =  RandomForestRegressor(n_estimators=5, warm_start=True)

rfr_model = regressor_model.fit(xtrain_part1, ytrain_part1)

rfr_model

RandomForestRegressor(n_estimators=5, warm_start=True)

In [22]:
rfr_model.score(xtrain_part1, ytrain_part1)

0.9628056912098747

In [23]:
ypred_rfr_test = rfr_model.predict(xtest_part1)

rfr_test_score = r2_score(ytest_part1, ypred_rfr_test)

rfr_test_score

0.8201151849681003

In [ ]:
# store the information to resume training 

rfr_model_parameters = {}

rfr_model_parameters['model'] = rfr_model
rfr_model_parameters['sklearn_version'] =

# Building and Saving Sentiment Text